<html>
    <head>
        <title>GoKifu</title>       
    </head>

    <body>
        <h1>GoKifu</h1>
        <h6>
            <ul>
                <li>Pro</li>
                <li>KGS</li>
                <li>Other</li>
                <li>Upload</li>
                <li>Archive</li>
                <li>Tounament</li>
            </ul>
        </h6>
    </body>
</html>